<%= link_to 'Return to Home Page', root_path %>

<% if flash[:error]%>
    <div class='review_error'>
    <% flash[:error].each do |error| %>
        <li><%= error %></li>
    <% end %>
    </div>
<% end %>

<h1><%= @business[:business_name] %></h1>
<p>City: <%= @business[:business_city] %></p>
<p><%= @business[:business_rating] > 0 ? @business[:business_rating] : 'No' %> Rating</p>

<%= button_to 'Leave a Review', new_review_path, method: :get, params: {id: @business[:id]} %>

<h2>Reviews</h2>

<% if @reviews.length > 0 %>
    <% @reviews.each do |review| %>
        <div class='review_div'>
            <p>Reviewer: <%= review.user[:username] %></p>
            <p>Rating: <%= review[:rating] %></p>
            <p>Review: <%= review[:review] %></p>
        </div>
    <% end %>
<% else %>
<p>No reviews yet.</p>
<% end %>
