<%= link_to 'Return to Home Page', root_path %>
<h1><%= @business[:business_name] %></h1>
<p>City: <%= @business[:business_city] %></p>
<p><%= @business[:business_rating] %> Rating</p>

<%= button_to 'Leave a Review', new_review_path, method: :get, params: {id: @business[:id]} %>

<h2>Reviews</h2>

<% if @reviews.length > 0 %>
    <% @reviews.each do |review| %>
        <div class='review_div'>
            <p>Reviewer: <%= review[:reviewer] %></p>
            <p>Rating: <%= review[:rating] %></p>
            <p>Review: <%= review[:review] %></p>
        </div>
    <% end %>
<% else %>
<p>No reviews yet.</p>
<% end %>
