<h1 class='test'>Gohan</h1>

<% if !user_signed_in? %>
    <%= button_to 'Sign In', new_user_session_path %>
<% else %>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
    <p>Signed in as: <%= @user[:username] %></p>
    <h2>Posts</h2>
    <% if @businesses.length > 0 %>
        <% @businesses.each do |b| %>
            <%= link_to business_path(b), class: 'index_business' do %>
                <p class='index_business'><%= b[:business_name] %> has a <%= b[:business_rating] %> rating.</p>
            <% end %>
        <% end %>
    <% else %>
    <p>No businesses on record.</p>
    <% end %>
<% end %>