<h1>New Review</h1>

<%= form_with model: @review do |f| %>
    <%= f.label :review %>
    <%= f.text_area :review %>
    <%= f.label :rating %>
    <%= f.select :rating, (1..10) %>
    <%= f.hidden_field :business_id, value: @business_id %>
    <%= f.submit %>
<% end %> 